
services:
  backend:
    build: .
    container_name: recordatorio-backend
    ports:
      - "4000:4000"
    env_file:
      - .env
    depends_on:
      - mongo
    restart: always

  mongo:
    image: mongo:7.0
    container_name: recordatorio-mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    restart: always

volumes:
  mongo_data:
